@font-face {
  font-family: 'DS-Digital';
  src: url('../../Fonts/DS-DIGI.TTF') format('truetype');
  font-display: swap;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  background: #101418;
}

#game-container {
  width: 100%;
  height: 100%;
}
